.modalsignup {
    margin-top: 0.5rem;
}

.botonsignup{
    margin-right: 1rem;
}

.registrarce{
    display: grid;
    justify-content: center;
    margin-top: 1rem;
}

.invisible{
    display: none;
}

.visible{
    display: block;
}

.eye{
    position: absolute;
    top: 67.5%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .eye2{
    position: absolute;
    top: 81%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
  }  