.container2 {
    background-color: rgb(206, 225, 252);
    margin-bottom: 1rem;
}


.inicio {
    width: 30%;
    margin-left: 60%;
    margin-top: 1%;
    
}
.tabla {
    margin-left: 6%;
    margin-right: 10%;
}

