.buscador{
    display: flex;
    margin-left: 25rem;
    margin-top: 10rem;
    
}

.postula{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1.5rem;

}

.titulo1{
    display: flex;
    margin-left: 1rem;
    font-size: 2.5em;
    font-family: 'Belanosima', sans-serif;
}

.sueldo1{
    display: flex;
    margin-left: 1rem;
    margin-top: -1rem;
    font-size: 2rem;
    font-family: 'Noto Sans', sans-serif;
}

.descripcion1{
    margin-left: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    margin-top: -1rem;
}

.jornada{
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.5rem;
        margin-top: 5rem;
        margin-right: 50rem;
    }

.ubicacion1{
    margin-top: -8rem;
    margin-left: 54rem;
    font-family: 'Noto Sans', sans-serif;

}

.paginacion{
    display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-top: 20px;
}
.card{
    margin-top: 1rem;
}